# INHERIT: true

export REPO="refillaqua/android-flutter"

# https://www.ruby-lang.org/en/downloads/
export RUBY_VERSION="2.7.4"

# https://rubygems.org/gems/fastlane/versions/
export FASTLANE_VERSION="2.191.0"

# https://flutter.dev/docs/development/tools/sdk/releases?tab=linux
export FLUTTER_VERSION="2.2.3"

# https://developer.android.com/studio/
export ANDROID_SDK_TOOLS_VERSION="7583922"

# https://github.com/google/bundletool/releases
export ANDROID_BUNDLE_TOOL_VERSION="1.8.0"

# https://developer.android.com/studio/releases/build-tools
export ANDROID_BUILD_TOOLS_VERSION="30.0.2"
export ANDROID_BUILD_PLATFORM="30"

export TAG_LATEST="${REPO}:latest"
export TAG_VERSION="${REPO}:android-${ANDROID_BUILD_TOOLS_VERSION}-flutter-${FLUTTER_VERSION}"

