# INHERIT: true

export REPO="refillaqua/android-flutter"

# https://www.ruby-lang.org/en/downloads/
export RUBY_VERSION="2.6.6"

# https://rubygems.org/gems/fastlane/versions/
export FASTLANE_VERSION="2.150.3"

# https://flutter.dev/docs/development/tools/sdk/releases?tab=linux
export FLUTTER_VERSION="1.19.0-4.3.pre"

# https://developer.android.com/studio/
export ANDROID_SDK_TOOLS_VERSION="6609375"

# https://github.com/google/bundletool/releases
export ANDROID_BUNDLE_TOOL_VERSION="1.0.0"

# https://developer.android.com/studio/releases/build-tools
export ANDROID_BUILD_TOOLS_VERSION="29.0.3"
export ANDROID_BUILD_PLATFORM="29"

export TAG_LATEST="${REPO}:latest"
export TAG_VERSION="${REPO}:android-${ANDROID_BUILD_TOOLS_VERSION}-flutter-${FLUTTER_VERSION}"

